/** ALLGEMEINES **/
html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 14pt;
}

/*
h1, h2, h3, h4, h5, h6 {
    color: crimson;
}
*/

header > *,
main,
footer {
    padding: 0.5em 5em 0.5em 5em;
}

/** HEADER **/
header {
    border: 0px solid #a0a0a0;
    border-bottom-width: 1px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    position: relative;
}

header a,
header a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    border: 0px solid #e0e0e0;
    border-bottom-width: 1px;
    padding-bottom: 0.5em;
}

header #slogan {
    flex-grow: 1;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    margin-left: 1em;
}

/** HAUPTBEREICH **/
main {
    background-color: #f0f0f0;
}

main .content {
    border: 1px solid #e0e0e0;
    border-radius: 0.3em;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
}

main .content > * {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
}

main .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main .content li {
    padding: 0.5em 0 0.5em 0;
    border: 0px solid #e0e0e0;
    border-bottom-width: 1px;
}

main .content h5 {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    padding-bottom: 0.5em;
}

main .content h5.n1 {
    border-color: red;
}

main .content h5.n2 {
    border-color: gold;
}

main .content h5.n3 {
    border-color: yellow;
}

/** FOOTER **/
footer {
    border: 0px solid #a0a0a0;
    border-top-width: 1px;
}
