/**
 * Stylesheet zur schöneren Gestaltung einfacher Buttons
 */

button {
    font-size: 90%;

    border: 0;
    padding: 1em;

    color: white;
    background-color: rgb(17, 68, 121);
    transition: background-color 0.25s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(28, 88, 150);
}
