/**
 * AUFGABENBESCHREIBUNG
 * ====================
 *
 *   1) Bauen Sie ein Media Query ein. Der Bildschirm muss mindestens 40em Breit sein.
 *   2) Die Navigation soll an den rechten Rand rutschen (Flexbox)
 *   3) Der Rahmen der Navigation muss dann links und nicht unten sein
 *   4) Verwenden Sie eine Schriftgröße für <html> in der Einheit vmin, damit
 *      die Schrift mit dem Browserfenster größer wird.
 */

@media (min-width: 40em) {
    html {
        font-size: 2.3vmin;
    }

    section {
        display: flex;
    }

    section nav {
        order: 2;
        border-left-width: 1px;
        border-bottom-width: 0;
    }

    section img {
        display: inline-block;
        max-width: calc(50% - 2em);
        margin-right: 1em;
    }
}
