/* Allgemeines */
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    background: rgb(235, 235, 225);

    color: rgb(32, 32, 32);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    padding: 2em;
    box-sizing: border-box;

    position: sticky;
    top: 0;
}

/* Slide 1 */
#slide1 {
    background-image: url(img/bg1.jpg);
    height: 100vh;
    text-align: center;

    z-index: -10;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 125%;
}

/* Footer */
