/***************
 * ALLGEMEINES *
 ***************/
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: max(1.8vh, 12pt);

    /* https://pixabay.com/photos/marble-texture-white-pattern-2371776/ */
    background-image: url(img/marble.jpg);
    background-attachment: fixed;
    background-color: white;
    color: #5d5d5d;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Globale Variablen */
    --color-primary: rgb(33, 124, 70);
    --color-secondary: crimson;
}

header, footer {
    padding: 1rem;
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    hyphens: auto;
    word-wrap: break-word;
}

nav ul {
    font-size: 110%;

    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

/***************
 * KOPFBEREICH *
 **************/
header {
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
}

header h1 {
    color: var(--color-primary);
    font-size: 140%;
}

header .brandname {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header .brandname img {
    height: 2em;
}

header nav ul {
    align-items: center;
}

header nav a,
header nav a:visited {
    color: var(--color-primary) !important;
}

@media (min-width: 50em) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: sticky;
        top: 0;
    }

    header nav ul {
        flex-direction: row;
    }
}

/***************
 * EYE CATCHER *
 **************/
.section-eyecatcher {
    /* https://pixabay.com/photos/communication-workplace-macbook-2802996/ */
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Lobster', cursive;
    font-size: 400%;
    color: crimson;
    text-shadow: 1px 1px 0px black,
                 2px 2px 0px black,
                 3px 3px 0px black,
                 4px 4px 0px black;

    min-height: 5em;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

@media (min-width: 50em) {
    .section-eyecatcher {
        font-size: 500%;
    }
}

/*************
 * AKTUELLES *
 ************/
.section-news {
    padding: 1rem;
}

.section-news h2 {
    color: var(--color-primary);
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.1);

    margin: 0;
    margin-bottom: 1rem;
}

.section-news .card {
    border: 1px solid lightgrey;
    background: white;
    border-radius: 0.5em;
    overflow: hidden;
}

.section-news .card img {
    display: block;
    width: 100%;
}

.section-news .card .card-body {
    padding: 1rem;
}

.section-news .card h4,
.section-news .card h5 {
    margin: 0;
}

.section-news .card h5 {
    color: grey;
}

.section-news .card a,
.section-news .card a:visited {
    color: var(--color-secondary);
}

.section-news .card-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

@media (min-width: 50em) {
    .section-news .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-news .card {
        flex: 1;
        min-width: 25em;
    }
}

/***************
 * FUSSBEREICH *
 **************/
footer {
    background-color: rgb(25, 25, 25);
    color: lightgrey;
    font-size: 80%;

    display: flex;
    flex-direction: column;

    z-index: 200;
}

footer h1,
footer h4 {
    color: var(--color-primary);
}

footer a,
footer a:visited {
    color: lightgrey;
}

footer .nav-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

footer .map {
    width: 100%;
}

@media (min-width: 50em) {
    footer {
        min-height: 100vh;
    }

    footer .nav-container {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .map {
        flex: 1;
    }
}
