@media (min-width: 40em) {
    html {
        font-size: 2vmin;
    }

    section {
        display: flex;
    }

    nav {
        order: 2;
        padding: 0 2em 0 1em;
    }

    main {
        border: 1px solid grey;
    }

    main img {
        display: inline-block;
        max-width: 50%;
        margin-right: 1em;
        box-sizing: border-box;
    }
}
