/**
 * Stylesheet zur Klasse PageDetail: Detailseite der App
 */

.page-heading > div {
    order: 1;
    flex: 1;
}
.page-heading > img {
    box-sizing: border-box;
    width: 6em;
    max-width: 100%;

    border: 1px solid lightgrey;
    padding: 0.25em;
    background: rgb(250, 250, 250);

    order: 2;
}

.boat-info {
    font-size: 90%;
}

.boat-info .label {
    color: darkgrey;
    display: inline-block;
}

.boat-info .value {
    display: inline-block;
}

@media (min-width: 50em) {
    .page-heading {
        display: flex;
    }

    .boat-info .field {
        display: inline-block;
        padding-right: 5em;
    }
}

.tab-buttons {
    margin-top: 1.5rem;
    margin-bottom: calc(var(--content-padding) * -1);
}

main > img {
    box-sizing: border-box;
    width: 20em;
    max-width: 100%;

    border: 1px solid lightgrey;
    padding: 0.25em;
    background: rgb(250, 250, 250);
}
