/*
 * ALLGEMEINE LAYOUTOPTIONEN
 */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;

    background-color: rgb(250, 250, 250);
    color: rgb(83, 91, 94);

    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    box-sizing: border-box;
    height: 100%;
}

header {
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    position: sticky;
}

header, main {
    padding: 1rem;
}

/* Titelzeile */
header h1 {
    color: rgb(145, 204, 229);
    font-size: 260%;
    margin: 0 0 1rem 0;
}

header h1 .app-title {
    color: rgb(83, 149, 176);
}

/* Menüzeile */
header nav ul {
    list-style: none;
    padding: 0;

    display: flex;
    column-gap: 2em;
}

/* Farben für Links */
a, a:visited {
    color: rgb(193, 33, 33);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Kacheln allgemein */
.tile {
    position: relative;

    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);

    /* Bessere Alternative: Flexbox! */
    display: inline-block;
    box-sizing: border-box;
    width: 9em;
    height: 9em;
    margin: 0.5em;

    font-size: 110%;

    cursor: pointer;
}

.tile a {
    color: #606060 !important;
    text-decoration: none !important;
}

.tile .icon {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    color: lightgrey;
    font-size: 3em;

    z-index: 2;
}

.tile .amount {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    font-size: 2em;
    z-index: 3;
}

.tile .label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    z-index: 4;
}

/* Besondere Kacheln */
#section-all-categories .tile {
    background-color: #fffceb;
}

.tile.status-all {
    background-color: #f5f5f5 !important;
    font-weight: bold;
}
