@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;

    scrollbar-width: none;

    --green1: rgb(0, 145, 0);
    --green2: rgb(0, 200, 0);
    --grey: lightgrey;
}

html {
    /* https://pixabay.com/vectors/scan-scan-lines-scanner-monitor-tv-7133901/ */
    background-image: url(background.png);
    background-color: rgb(0, 40, 0);
    color: var(--green1);

    font-family: "VT323", monospace;
    font-size: 16pt;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);

    padding: 1em;
}

.hidden {
    display: none;
}

a, a:visited {
    color: var(--green1);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: var(--green2);
}

nav {
    margin-bottom: 1em;
}

.banner {
    font-weight: bold;
    color: var(--grey);
}

.messages {
    margin-top: 1em;
}

.message {
    margin-bottom: 1em;
}

.message.bot {
    font-weight: bold;
}

input,
.message.user {
    color: var(--green2);
}

input {
    width: 100%;
    background: none;
    border: none;
    outline: none;

    font-family: "VT323", monospace;
    font-size: 16pt;
}
