html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
}

html {
    /* https://pixabay.com/illustrations/leaves-tropical-summer-exotic-3923413/ */
    background-image: url(background.jpg);
    background-attachment: fixed;
}

body {
    /* padding: 1rem; */
    backdrop-filter: blur(10px);

    font-family: sans-serif;
    font-size: 13pt;
}

input {
    font-size: 13pt;
}

main {
    max-height: 100%;
}

h1 {
    font-size: 130%;
    color: white;
    text-shadow:  1px  1px #2e0f48,
                 -1px -1px #2e0f48,
                 -1px  1px #2e0f48,
                  1px -1px #2e0f48;

    background: rgba(75, 101, 132, 0.75);
    margin: 0;
    padding: 0.25rem;
    padding-bottom: 4rem;
    margin-bottom: -4rem;
}

.flexbox {
    display: flex;
    align-items: stretch;
    gap: 1rem;
}

.column {
    flex-direction: column;
}

.stretch {
    flex: 1;
    overflow: auto;
}

#chatbox {
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0px 0px 4px rgba(0,0,0, 0.2);
    background: white;

    /* https://pixabay.com/illustrations/children-drawings-baby-fish-cat-1941336/ */
    background-image: url(pattern.png);

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    margin: 1rem;
    margin-top: 0;
    align-self: center;
}

@media screen and (min-width: 61rem) {
    #chatbox {
        max-width: 60rem;
    }
}

#chatbox .messages {
    align-self: stretch;
    padding: 1em;
    overflow: auto;
    scroll-behavior: smooth;

    justify-content: start;
}

#chatbox input {
    border: none;
    outline: none;
    background: rgb(230, 230, 230);
    color: rgb(60, 60, 60);

    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.message {
    border-radius: 0.5em;

    padding: 0.5em;
    box-sizing: border-box;

    margin-bottom: 1em;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.33);
}

.message.local {
    background-color: #a5b1c2;
    color: rgba(0,0,0, 0.75);
    align-self: flex-start;
}

.message.remote {
    background-color: #4b6584;
    color: rgba(255,255,255, 0.75);
    align-self: flex-end;
}
