.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

@media (max-width: 481px) {
    .tiles {
        justify-content: center;
    }
}

.tile {
    width: 20em;
    max-width: 100%;
    box-sizing: border-box;

    padding: 0.5em;
    margin: 0.25em;

    border: 1px solid rgb(200, 200, 200);
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    cursor: pointer;
    position: relative;
}

.tile:hover {
    background-color: rgb(250,250,250);
    border-color: rgb(170, 170, 170);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.tile * {
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}

.tile img {
    display: block;
    width: 100%;
}

.tile .title {
    font-weight: bold;
}
.tile .artist {
    color: rgb(120,120,120);
}

.tile.playing .title {
    color: rgb(180, 66, 105);
}
.tile.playing .artist {
    color: rgb(166, 125, 140);
}
